@import "src/styles";
@import "./src/app/utilities/styles/button";

a {
  font-family: 'Chela One', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  color: white;

  logo {
    height: 1.4rem;
    width: 3rem;
  }
}

.nav-mobile {
  background-color: $color-tertiary;
  width: 100%;
  height: 3rem;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 9999;


  .nav-button {
    //background-color: #1a202c;

    fa-icon {
      color: white;
      font-weight: 900;
      font-size: x-large;
    }
  }
}

.position-left-out-100 {
  left: -100%;
}
.position-left-in-100 {
  left: 0;
}
.position-left-in-75 {
  left: 0;
  transition: left 3s;
}
.position-left-out-100, .position-left-in-100 {transition: left 1.5s;}

.drawer-back-glass {
  height: calc(100% - 3rem);
  width: 100%;
  background-color: #1a202c50;

  position: absolute;
  z-index: 99;
  top: 3rem;
}

.drawer {
  height: calc(100% - 3rem);
  width: 75%;
  max-width: 460px;
  background-color: $color-secondary;
  padding: 1rem;

  position: absolute;
  top: 3rem;
  z-index: 999;

  .drawer-logo {
    color: $color-font;
    margin: 0.5rem;
  }

  .menu-list {
    color: $color-font;
    margin: 0.5rem;
  }
}
