@import "src/styles";
@import "./src/app/utilities/styles/button";

a {
  font-family: 'Chela One', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  color: white;

  logo {
    height: 1.4rem;
    width: 3rem;
  }
}

.nav-mobile {
  background-color: $color-tertiary;
  width: 100%;
  height: 4rem;
  padding: 0 $common-space-x;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: 0;
  right: 0;
  z-index: 9999;

  .nav-button {

    fa-icon {
      color: white;
      font-weight: 900;
      font-size: x-large;
    }
  }

  .search-div {
    display: none;
  }

  .btn-login {display: none}

  .cart-section {
    display: none;
    fa-icon{}
    span {}
  }
}

.position-left-out-100 {
  left: -100%;
}
.position-left-in-100 {
  left: 0;
}
.position-left-in-75 {
  left: 0;
  transition: left 2.3s;
}
.position-left-out-100, .position-left-in-100 {transition: left 1.5s;}

.drawer-back-glass {
  height: calc(100% - 3rem);
  width: 100%;
  background-color: #1a202c50;

  position: absolute;
  z-index: 99;
  top: 3rem;
}

.drawer {
  height: calc(100% - 3rem);
  width: 75%;
  max-width: 460px;
  background-color: $color-secondary;
  padding: 1rem;

  position: absolute;
  top: 3rem;
  z-index: 999;

  .drawer-logo {
    color: $color-font;
    margin: 0.5rem;
  }

  .menu-list {
    color: $color-font;
    margin: 0.5rem;
  }
}

@media only screen and (min-width: 768px){

  .nav-mobile {
    justify-content: space-between;
    padding: 0 $main-space-x;

    .nav-button {
      display: inline;
      fa-icon {}
    }

    a {

    }

    .search-div {
      display: inline;
    }

    .btn-login {display: inline}

    .cart-section {
      display: inline;
      fa-icon{}
      span {}
    }
  }

  .drawer-back-glass {
    display: none;
  }

  .drawer {
    display: none;
    .drawer-logo {

    }

    .menu-list {

    }
  }

}
