<nav class="menu-bar">
  <div class="mobile-nav">
    <app-my-button
      title="Menu" type="button"
      designType="icon" btnSize="x"
      (clickEvent)="changeDrawerClass()"></app-my-button>
    <a class="logo" routerLink="#">
      E-Shop
    </a>
  </div>
</nav>


<div id="back-drawer" (click)="changeDrawerClass()" class="back-drawer back-drawer-out"></div>
<div id="drawer" class="drawer drawer-out">
  <h3 class="logo" routerLink="#">
    E-Shop
  </h3>
  <ul class="menu-links">
    <li>
      <a href="">Men's</a>
    </li>
    <li>
      <a href="">Women's</a>
    </li>
    <li>
      <a href="">Accessories</a>
    </li>
    <li>
      <a href="">About</a>
    </li>
    <li>
      <a href="">Career</a>
    </li>
  </ul>
</div>
