<p>icon-text</p>
<app-my-button designType="icon-text" btnSize="s" title="Save" type="button"></app-my-button>
<app-my-button designType="icon-text" btnSize="l" title="Save" type="button"></app-my-button>
<app-my-button designType="icon-text" btnSize="x" title="Save" type="button"></app-my-button>
<p>icon</p>
<app-my-button designType="icon" btnSize="s" title="Save" type="button"></app-my-button>
<app-my-button designType="icon" btnSize="l" title="Save" type="button"></app-my-button>
<app-my-button designType="icon" btnSize="x" title="Save" type="button"></app-my-button>
<p>text</p>
<app-my-button designType="text" btnSize="s" title="Save" type="button"></app-my-button>
<app-my-button designType="text" btnSize="l" title="Save" type="button"></app-my-button>
<app-my-button designType="text" btnSize="x" title="Save" type="button"></app-my-button>

<br>
<p>icon-text</p>
<app-my-button designType="icon-text" btnSize="s" title="Delete" type="button"></app-my-button>
<app-my-button designType="icon-text" btnSize="l" title="Delete" type="button"></app-my-button>
<app-my-button designType="icon-text" btnSize="x" title="Delete" type="button"></app-my-button>
<p>icon</p>
<app-my-button designType="icon" btnSize="s" title="Delete" type="button"></app-my-button>
<app-my-button designType="icon" btnSize="l" title="Delete" type="button"></app-my-button>
<app-my-button designType="icon" btnSize="x" title="Delete" type="button"></app-my-button>
<p>text</p>
<app-my-button designType="text" btnSize="s" title="Delete" type="button"></app-my-button>
<app-my-button designType="text" btnSize="l" title="Delete" type="button"></app-my-button>
<app-my-button designType="text" btnSize="x" title="Delete" type="button"></app-my-button>

<br>
