<nav *ngIf="forMobile" class="nav-mobile">
  <button type="button" class="i-button nav-button" (click)="on_off_Menu()">
    <fa-icon [icon]="iconBars"></fa-icon>
  </button>
  <a routerLink="#" class="">
    E-Shop
  </a>

  <div class="search-div">
    <app-search-box></app-search-box>
  </div>

  <button class="btn btn-login" type="button">
    Login <fa-icon [icon]="iconLogin"></fa-icon>
  </button>

  <div class="cart-section">
    <fa-icon [icon]="iconCart"></fa-icon>
    <span>Cart</span>
  </div>
</nav>

<div *ngIf="forMobile" #drawer1 id="drawer-back" class="drawer-back-glass position-left-out-100" (click)="turnOffMenu()"></div>

<div *ngIf="forMobile" #drawer2 id="drawer" class="drawer position-left-out-100">

  <a routerLink="#" class="drawer-logo">
    E-Shop
  </a>

  <div class="menu-list">
    <ul>
      <li>Home</li>
      <li>Women's</li>
      <li>Men's</li>
      <li>House-Holds</li>
      <li>Flash Sale</li>
    </ul>
  </div>

</div>
