@import "src/styles";

.btn {
  background-color: white;
  margin: 0;
  padding: 0;
  border: solid 0.5px $color-font2;


  font-size: 1rem;
}

.btn-text-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  width: 6rem;
  height: 2rem;

  span {
    //margin-right: 0.4rem;
  }
  fa-icon {

  }
}

.btn-text {

}

.btn-icon {
  height: 2rem;
  width: 2.5rem;

  fa-icon{
    margin: 0 auto;
    height: 2rem;
  }
}

.btn-green {
  background-color: $color-secondary;
  color: $color-font2;
  transition: background-color 0.7s;
}
.btn-green:hover {
  background-color: $color-primary-glass;
}
