@import "./src/styles";
div {
  //height: 2.75rem;
  width: 30rem;
  font-size: 1rem;

  position: relative;

  .search-label {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .text {
    position: absolute;
    z-index: 1;
    //height: 2.75rem;
    width: 30rem;
    padding: 0.75rem;
  }

  .btn-search {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $color-secondary;
    //height: 2.75rem;
    width: 2.5rem;
    color: white;
    border-radius: 0.15rem 0 0 0.15rem;


    fa-icon {
      font-size: 1rem;
    }
  }
}
div, .text, .btn-search {height: 2.5rem}
