@import "../styles";


header {
  .nav{

  }
}

#main-content {
  background-color: $color-primary-glass;
  height: 512px;
  margin-top: 4rem;
}

#footer {
  background-color: $color-secondary-glass;
  height: 360px;
}
