<router-outlet></router-outlet>

<div class="card-container">

  <div class="card">
    <div class="card-header">
      <span>PRO</span>
      <img src="../assets/human-face/human1.JPG" alt="human 1">
    </div>
    <div class="card-body">
      <div class="body-heading">
        <h3 class="name">Ricky Park</h3>
        <div class="short-desc">
          <p class="location">New York</p>
          <p class="profession">User Interface Designer & Front-end Developer</p>
        </div>
      </div>
      <div class="buttons">
        <button id="msg-button" type="button" class="message-button">Message</button>
        <button id="foll-button" type="button" class="follow-button">Following</button>
      </div>
    </div>
  </div>

</div>
