@import "./src/styles";

.btn {
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  letter-spacing: 1px;
  background-color: #1a202c20;
}

.btn-icon-text, .btn-text, .btn-icon {

  color: white;
}

.btn-icon-text {

  span:nth-child(1) {margin-right: 0.5rem}
  span:nth-child(2) {}
}

.btn-text {

  span:nth-child(2) {}
}

.btn-icon {

  span:nth-child(1) {}
}


.btn-s {
  font-size: 1rem;
}
.btn-l {
  font-size: 1.25rem;
}
.btn-x {
  font-size: 1.5rem;
}

.btn-s, .btn-l, btn-x {
  width: auto;
  max-width: 8rem;
  height: auto;
  letter-spacing: 0.1rem;
}

.btn-green {background-color: #13a808;}
.btn-red {background-color: #de0707;}
.btn-yellow {background-color: #dbd21a;}
.btn-menu-color {background-color: #17594A;}
